<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Chercher Carte</ion-label>
    <ion-input id="input" [(ngModel)]="inputValue"></ion-input>
  </ion-item>
  <ion-button (click)="test()" expand="block" color="tertiary"><ion-icon name="search" slot="start"></ion-icon>Rechercher</ion-button>
</ion-content>
