<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="addPhoto()" color="tertiary" expand="block">
    <ion-icon name="image" slot="start"></ion-icon>
    Ouvrir la galerie
  </ion-button>
  <ion-button (click)="addPhoto('camera')" color="secondary" expand="block">
    <ion-icon name="camera" slot="start"></ion-icon>
    Prendre une photo
  </ion-button>
  <div class="flex">
    <div class="img-box">
      <img [src]="image">
    </div>
  </div>
</ion-content>
